location {{manifest.nginx.ui_url}} {
    ## Set environment variables for use with SSO
    set $service_unit "podman-cui-{{manifest.name}}";
    set $service_name_pretty "{{manifest.name_pretty}}";

    proxy_pass http://127.0.0.1:{{manifest.container.http_port}}{{manifest.nginx.ui_url}};

    include sso/auth.conf;  # Activates SSO for specified route/location
    include sso/proxy.conf; # Reverse proxy configuration
}
# code: language=nginx insertSpaces=true tabSize=4