# Generic ignores
.vscode
.gitignore
.gitmodules
.DS_Store

# Folders and files which should NOT receive USER updates
./packages/README.md
./scripts/README.md
./tests/README.md
./templates/
./templates-local/
./LICENSE
./README.md
./EXCLUDED_FROM_BACKUPS.txt
