## cui-{{manifest.name}} related files excluded from backups
##
## *** Nothing needs to be excluded ***
## TODO: Investigate this further, where do cached files we don't need go?
##
#/data/root{{installer.data_folder}}
